.sendSelect {
    /*选中以后的颜色*/
	background-color: #004080;
	/*选中以后文字的颜色*/
	color: white;
	/*间隔颜色*/
	border-color: white;
	/*间隔宽度*/
	border-width: 1px;
	/*这个不需要改*/
	border-style:solid;
	/*鼠标路过的时候样式*/
	cursor: hand;
	/*字体*/
	font-size: 10pt;
	/*不需要修改*/
	text-align:center;
	/*不带图标带字符的显示*/
	/*word-wrap:break-word;*/
	/*带图标的显示*/
	word-break:keep-all;
}
.send {
	/*没有选择字体的颜色*/
	color: black;
	border-color: white;
	border-width: 1px;
	border-style:solid;
	cursor: hand;
	font-size: 10pt;
	text-align:center;
	word-break:break-all;
}
.sendToText{
	/*收件人显示框样式*/
	width:420px;
	height:22px;
	background:#FFFFFF;
	border-color:#B9DAF9;
	border-style:solid;
	border-width:1;
	overflow-y: auto;
}

