.deeptree {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; OVERFLOW: auto; WIDTH: 100%; PADDING-TOP: 5px; HEIGHT: 100%; BACKGROUND-COLOR: #EEF4FF
}
.toolbar {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; WIDTH: 100%; PADDING-TOP: 2px; HEIGHT: 25px; BACKGROUND-COLOR: #6699cc; TEXT-ALIGN: right
}
.node {
	FONT-SIZE: 12px; CURSOR: default; FONT-FAMILY: Vendana
}
SPAN.MouseOver {
	CURSOR: hand; TEXT-DECORATION: underline
}
SPAN.selected {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BACKGROUND: #001177; BORDER-LEFT: #000000 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #000000 1px solid
}
TreeIMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px;width:16;height:16
}
