.table_bgcolor{
	background:#B9DAF9;
}
.td_background{
	background-image:images/titlebg.jpg;
}
.title_bg{
	background:#006699;
	background-image:url('images/titlebg.jpg');
	background-repeat:repeat-x;
}
.white-12 {
	font-size: 12px;
	font-weight: normal;
	color: #FFFFFF;
}
.white-12-b {

	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}
.white2-12-b {
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}
.red-18-b {
	font-size: 18px;
	line-height: 36px;
	font-weight: bold;
	color: #930000;
}
.black-14 {
	font-size: 14px;
	line-height: 24px;
	color: #000000;
	text-indent: 32px;
}



.red-12 {
	font-size: 12px;
	line-height: 24px;
	font-weight: normal;
	color: #C60000;
}
.black-12 {
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	line-height: 24px;
}
.biankuang-blue {
	border: 1px solid #B9DAF9;
}
.green-12-b {
	font-size: 12px;
	font-weight: bold;
	color: #00B31D;
}
.blue-12 {
	font-size: 12px;
	font-weight: normal;
	color: #0077B3;
}
.green-12 {
	font-size: 12px;
	line-height: 22px;
	font-weight: normal;
	color: #008000;
}
.grap-12 {
	font-size: 12px;
	line-height: 22px;
	font-weight: normal;
	color: #ADADAD;
}
.blue2-12 {
	font-size: 12px;
	font-weight: normal;
	color: #1072CF;
	line-height: 20px;
}
.blue3-12 {
	font-size: 12px;
	color: #006699;
	line-height: 24px;
}
.grap2-12 {

	font-size: 12px;
	font-weight: normal;
	color: #606060;
}
.grap2-12-b {

	font-size: 12px;
	
	font-weight: bold;
	color: #606060;
}
.blue4-12 {

	font-size: 12px;
	font-weight: normal;
	color: #1072CF;
	line-height: 16px;
}
.blue5-12 {

	font-size: 12px;
	font-weight: normal;
	color: #004466;
	line-height: 20px;
}
.red2-12-b {
	font-size: 12px;
	font-weight: bold;
	color: #B84202;
}
.red3-12 {

	font-size: 12px;
	font-weight: normal;
	color: #B84202;
}
.yellowred-12-b {
	font-size: 12px;
	font-weight: bold;
	color: #D74E12;
}
.yellowred-12 {
	font-size: 12px;
	font-weight: normal;
	color: #AE3F0F;
	line-height: 24px;
}
.yellowred-32 {
	font-family: "ו";
	font-size: 24px;
	font-weight: bold;
	color: #FF7E00;
	font-style: normal;
}
.blue3-12-b {
	font-size: 12px;
	color: #006699;
	line-height: 24px;
	font-weight: bold;
}
