.css {
	font-size: 12px;
	color: #FFFFFF;
	font-weight: normal;
}
.text {filter:shadow(color=white,direction=135,strength=0)
	font-size: 12px;
	color: #318ECB;
	font-weight: bold;
	font-size: 12px;
}
.title-01 {filter:shadow(color=white,direction=135,strength=0)
	font-size: 12px;
	color: #F7701F;
	font-weight: bold;
	font-size: 12px;
}
.title-02 {
	font-size: 12px;
	font-weight: bold;
	color: #024C7B;
}
.title-03 {
	font-family: "Wingdings 3";
	font-size: 12px;
	font-weight: normal;
	color: #024C7B;
}
.text-01 {
	font-size: 12px;
	color: #0055A2;
}
.title-04 {
	font-size: 12px;
	font-weight: bold;
	color: #0055A2;
}
.title-05 {filter:shadow(color=black,direction=0,strength=10)
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	font-size: 12px;
}
